button {
    width: 400px;
    background-color: rgb(136, 136, 255);
    color: black;
    padding: 10px 5px;
}

.el-header {
    font-weight: bold;
    font-size: large;
}

.itemlist {
    margin: 1vh 25vw;
    width: 50vw;
    display: flex;
    flex-direction: column;

    .item {
        margin-bottom: 10px;
    }
}

.credential {
    margin: 1vh 25vw;
    width: 50vw;
    display: flex;
    flex-direction: column;

    .header {
        padding: 5px 10px;
    }

    .canvas {
        align-self: center;
        padding: 20px;
    }

    .url {
        font-weight: bold;
        padding-bottom: 30px;
    }

    button {
        align-self: center;
    }
}